body, html {
  font-size: 0.9rem;
  background: #f2f3f7
}
body, .form-control {
  font-size: 0.9rem
}
body,
html,
#root,
.App {
  min-height: 100vh
}
.btn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.66rem;
  border-radius: 0.5rem;
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05)!important
}
.App-link {
  color: #61dafb;
}

.App {
  background: url(background-img.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.createBtn {
  position: absolute;
  right: 100px;
}

.list {
  margin-top: 100px;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

.right{
  position: absolute;
  right: 0px;
}

h2 {
  text-align: center;
}

.invoice_item {
  padding: 8px;
  margin-top: 10px;
  border-radius: 10px;
}

.invoice_item div{
  width: 90%;
  margin: auto auto;
  margin-top: 4px;
  position: relative;
  font-family: sans-serif;
}

.invoice_item:nth-child(even) {
  background-color: rgb(251, 251, 202);
  opacity: 0.8;
}

.invoice_item:nth-child(odd) {
  background-color: #bce17d;
  opacity: 0.8;
}

.action {
  display: flex;
  justify-content: center;
  color: rebeccapurple;
}

.image{
  height: 15px;
  margin-left: 10px;
}

.image:hover{
  cursor: pointer;
}

.btn-light {
  border-color: #dedede
}

.btn-light:hover {
  border-color: #dedede;
  background-color: #f3f3f3
}

.shadow {
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05)!important
}

.modal-content,
.card {
  overflow: hidden;
  border-radius: 0.756rem
}

hr {
  opacity: 0.1
}

.table th {
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  border-bottom-color: #0000001a!important
}
.table td {
   text-align: left;
}
.table tr th:first-child,
.table tr td:first-child {
  padding-left: 0
}
.table tr th:last-child,
.table tr td:last-child {
  padding-right: 0
}

.form-control {
  background: #f5f7f9;
  font-weight: 400;
  padding: .5rem .75rem;
  border: none
}
.form-control:hover {
  background: #f5f7f9;
}
.form-control::placeholder,
.form-control::-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #9fa8b0
}
.form-control:focus {
  background: #f5f7f9;
}

#invoiceCapture {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
